<body>
<header>
	<div class="contenedor">
		<h2 class="logotipo">GABOMOVIES</h2>
		<nav>
			<a href="/" class="activo">Inicio</a>
			<a href="/lista">Programas</a>
			<a href="/lista">Películas</a>
			<a href="/lista">Más Recientes</a>
			<a href="/lista">Mi lista</a>
		</nav>
	</div>
</header>
</body>