<body>
<header>
	<div class="contenedor">
		<h2 class="logotipo">GABOMOVIES</h2>
		<nav>
			<a href="/" class="activo">Inicio</a>
			<a href="/list">Programas</a>
			<a href="/list">Películas</a>
			<a href="/list"> Criticas </a>
			<a href="/list">Mi lista</a>
		</nav>
	</div>
</header>
</body>